@import "tailwindcss";
@import "tw-animate-css";

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";

@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";

@import "@radix-ui/colors/Crimson.css";
@import "@radix-ui/colors/Crimson-dark.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";

@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";

@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: var(--gray-1);
  --foreground: var(--gray-12);
  --card: var(--gray-2);
  --card-foreground: var(--gray-12);
  --popover: var(--gray-1);
  --popover-foreground: var(--gray-12);
  --primary: var(--indigo-12);
  --primary-foreground: var(--gray-1);
  --secondary: var(--crimson-4);
  --secondary-foreground: var(--crimson-12);
  --muted: var(--gray-4);
  --muted-foreground: var(--gray-11);
  --accent: var(--gray-4);
  --accent-foreground: var(--crimson-12);
  --destructive: var(--red-9);
  --border: var(--gray-6);
  --input: var(--gray-6);
  --ring: var(--gray-8);
  --chart-1: var(--blue-9);
  --chart-2: var(--green-9);
  --chart-3: var(--blue-9);
  --chart-4: var(--green-9);
  --chart-5: var(--red-9);
  --sidebar: var(--gray-2);
  --sidebar-foreground: var(--gray-12);
  --sidebar-primary: var(--gray-12);
  --sidebar-primary-foreground: var(--gray-1);
  --sidebar-accent: var(--gray-4);
  --sidebar-accent-foreground: var(--gray-12);
  --sidebar-border: var(--gray-6);
  --sidebar-ring: var(--gray-8);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
